@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cruinn';
  src: url('assets/fonts/Cruinn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Цвета */
  --text-color: #ffffff;
  --selected-text-color: #afafaf;
  --background-color: #000000;

  --main-color: #ffffff;
  --main-color-dark: rgba(255, 255, 255, 0.715);

  --header-bg: rgba(0, 0, 0, 0.2);
  --selection-bg: rgba(255, 255, 255, 0.333);

  --button-text-color: #000000;

  /* Шрифты */
  --font-main: "Cruinn";
  --font-secondary: "Nunito";
}

/* ---------- Base ---------- */
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-main);
}

*::selection {
  background-color: var(--selection-bg);
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#background {
  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  z-index: -100;
}

/* ---------- Header ---------- */
header {
  margin: 10px 15px;
  padding: 2.5px 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  border-radius: 10px;
  background-color: var(--header-bg);

  z-index: 100;
}

header:active {
  cursor: grabbing;
}

/* ---------- Action buttons ---------- */
.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.action-buttons > div {
  font-size: 26px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.action-buttons > div:hover {
  opacity: 0.6;
}

/* ---------- Auth scene ---------- */
.auth-LoginScene {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  position: relative;
}

.auth-logo {
  height: 130px;
  pointer-events: none;
}

.auth-title {
  font-size: 30px;
  font-family: var(--font-secondary);
}

.auth-sub-title {
  text-align: center;
  max-width: 200px;
}

.auth-input {
  width: 190px;
  padding: 5px 15px;

  color: var(--text-color);
  border: 2px solid var(--main-color-dark);
  border-radius: 15px;

  background-color: transparent;
  backdrop-filter: blur(5px);

  text-align: center;
  font-family: var(--font-main);
  font-weight: bold;

  outline: none;
  transition: all 0.3s ease;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.auth-input::placeholder {
  color: var(--text-color);
  font-size: 14px;
}

.auth-input:active::placeholder,
.auth-input:focus::placeholder {
  color: var(--selected-text-color);
}

.auth-input.incorrect {
  color: rgb(255, 117, 117);
}

.auth-button {
  width: 220px;
  padding: 5px;

  color: var(--button-text-color);
  font-family: var(--font-main);
  font-weight: bold;

  border: 2px solid var(--main-color-dark);
  border-radius: 15px;
  background-color: var(--main-color);

  transition: all 0.3s ease;
}

.auth-input:hover,
.auth-button:hover {
  opacity: 0.7;
}

.auth-error {
  font-family: var(--font-secondary);
  font-size: 11px;
  text-align: center;
  width: 100% ;
  position: absolute;
  bottom: -20px; right: 0;
}